.about-us {
  position: relative;
  box-sizing: border-box;
  max-width: 1194px;
  padding: 0 10px 0 192px;
  margin: 0 auto;

  @media (max-width: $desktop-width) {
    padding-left: 210px;
  }

  @media (max-width: $tablet-width) {
    padding: 0 14px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -18px;
    width: 220px;
    height: 317px;

    background: url("../img/about-us-2005.png") no-repeat;

    @media (max-width: $desktop-width) {
      top: -2px;
      left: -8px;
      width: 251.08px;
      height: 361.79px;
      background-size: contain;
    }

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  &__title {
    margin: 0 0 20px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    color: $text-dark;

    @media (max-width: $desktop-width) {
      margin-bottom: 25px;

      font-size: 32px;
      line-height: 45px;
    }

    @media (max-width: $tablet-width) {
      margin-bottom: 21px;

      font-size: 28px;
      line-height: 39px;
    }
  }

  &__text {
    max-width: 985px;
    margin: 0 0 20px;

    font-family: "PT Mono", "Consolas", monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: $text-dark;

    &:last-of-type {
      margin-bottom: 40px;
    }

    @media (max-width: $desktop-width) {
      padding: 0 10px 0 3px;

      &--overflow {
        display: none;
      }
    }

    @media (max-width: $tablet-width) {
      margin-bottom: 39px;
      padding: 0 0 0 3px;

      &:last-of-type {
        margin-bottom: 30px;
      }
    }
  }

  &__ellipsis {
    display: none;

    @media (max-width: $desktop-width) {
      display: inline;
    }
  }

  &__details {
    padding: 14px 50px 12px;
    margin-bottom: 112px;
    color: $cyan;
    border-color: $cyan;

    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover,
    &:focus {
      color: $text-light;
      background-color: $cyan;
    }

    @media (max-width: $desktop-width) {
      margin: 0 2px 85px 0;
    }

    @media (max-width: $tablet-width) {
      margin: 0 0 65px 3px;
    }
  }
}
