.advantages {
  max-width: 1200px;
  margin: 0 auto 74px;
  padding-top: 113px;

  @media (max-width: $desktop-width) {
    margin-bottom: 25px;
    padding-top: 55px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 36px;
    padding-top: 38px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;

    @media (max-width: $desktop-width) {
      padding: 0 10px;
    }

    @media (max-width: $tablet-width) {
      padding: 0;
    }
  }

  &__item {
    position: relative;

    width: calc(50% - 30px);
    min-height: 299px;
    margin: 0 15px 30px;
    padding: 93px 42px 40px;
    box-sizing: border-box;

    background-color: #ffffff;
    border: 1px solid #ebebeb;
    border-left: 3px solid $cyan;
    cursor: pointer;

    &:hover {
      background-color: $cyan;
      border-color: $cyan;

      .advantages__title,
      .advantages__text {
        color: $text-light;
      }

      .advantages__icon {
        fill: $text-light;
      }
    }

    @media (max-width: $desktop-width) {
      min-height: 232px;
      padding: 65px 20px 20px 24px;
    }

    @media (max-width: $tablet-width) {
      width: 100%;
      margin-bottom: 23px;
      padding: 71px 20px 20px 23px;
      border-left-width: 2px;
    }
  }

  &__title {
    margin: 0 0 15px;

    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: $cyan;

    @media (max-width: $desktop-width) {
      margin: 0 0 9px;
    }

    @media (max-width: $tablet-width) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__text {
    margin: 0;

    font-family: "PT Mono", "Consolas", monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: $text-dark;
  }

  &__icon {
    position: absolute;
    top: 40px;
    left: 42px;
    fill: $cyan;

    @media (max-width: $desktop-width) {
      top: 23px;
      left: 25px;

      &--efficiency {
        width: 29.38px;
        height: 35.46px;
      }

      &--suppliers {
        width: 31.72px;
        height: 32.18px;
      }

      &--privacy {
        width: 30.31px;
        height: 26.1px;
      }

      &--cost {
        width: 32.18px;
        height: 32.18px;
      }
    }
  }
}
