.consultation {
  background-color: $cyan;
  overflow: hidden;

  &__wrap {
    position: relative;
    display: flex;
    justify-content: flex-end;
    max-width: 1250px;
    margin: 0 auto 23px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100%;
      background: url("../img/airplane-desktop@1x.png") no-repeat, url("../img/triangles.svg") no-repeat;
      background-position: right 724px top 162px, right 738px top -60px;
      background-size: 511px 288px, auto;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/airplane-desktop@2x.png"), url("../img/triangles.svg");
      }

      @media (max-width: $desktop-width) {
        content: none;
      }
    }

    @media (max-width: $desktop-width) {
      margin-bottom: 25px;
      background-image: none;
    }

    @media (max-width: $tablet-width) {
      margin-bottom: 32px;
    }
  }

  &__block {
    box-sizing: border-box;
    width: 658px;
    padding: 91px 39px;

    @media (max-width: $desktop-width) {
      width: 100%;
      padding: 80px 89px 80px 83px;
    }

    @media (max-width: $tablet-width) {
      padding: 30px 10px 10px;
    }
  }

  &__title {
    margin: 0 0 10px;
    padding-left: 5px;

    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    color: $text-light;

    @media (max-width: $desktop-width) {
      margin-bottom: 16px;

      font-size: 32px;
      line-height: 45px;
    }

    @media (max-width: $tablet-width) {
      margin-bottom: 13px;

      font-size: 28px;
      line-height: 39px;
    }
  }

  &__text {
    margin: 0 0 50px;
    padding-left: 10px;

    font-family: "PT Mono", "Consolas", monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $text-light;

    @media (max-width: $desktop-width) {
      margin-bottom: 54px;
    }

    @media (max-width: $tablet-width) {
      margin-bottom: 26px;
      padding-left: 5px;
    }
  }
}
