.form {
  display: flex;
  flex-direction: column;

  padding-left: 10px;

  @media (max-width: $tablet-width) {
    padding: 0 5px;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $tablet-width) {
      flex-direction: column;
    }
  }

  input {
    box-sizing: border-box;
    width: calc(50% - 15px);
    margin-bottom: 40px;
    padding: 14px 16px;

    font-family: "PT Mono", "Consolas", monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $text-light;

    background-color: #19baff;
    border: none;
    border-radius: 0;

    &:hover,
    &:focus {
      outline: 2px solid darken($cyan, 5%);
    }

    &::placeholder {
      color: $text-light;
    }

    &:nth-of-type(2n-1) {
      margin-right: 30px;
    }

    @media (max-width: $desktop-width) {
      padding: 12px 17px 17px;
    }

    @media (max-width: $tablet-width) {
      width: 100%;
      margin-bottom: 31px;
    }
  }

  textarea {
    box-sizing: border-box;
    width: 570px;
    height: 154px;
    resize: none;

    margin-bottom: 45px;
    padding: 14px 16px;

    font-family: "PT Mono", "Consolas", monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $text-light;

    background-color: #19baff;
    border: none;

    &:hover,
    &:focus {
      outline: 2px solid darken($cyan, 5%);
    }

    &::placeholder {
      color: $text-light;
    }

    @media (max-width: $desktop-width) {
      width: auto;
      height: 162px;
    }

    @media (max-width: $tablet-width) {
      height: 104px;
      margin-bottom: 31px;
    }
  }

  &__submit {
    position: relative;
    display: flex;

    input + label::before {
      content: "";
      position: absolute;
      left: 17px;
      top: 8px;

      width: 16px;
      height: 16px;

      border: 1px solid #ffffff;

      cursor: pointer;

      @media (max-width: $tablet-width) {
        left: 0;
        top: 0;
      }
    }

    input + label:hover::before,
    input:focus + label::before {
      border-color: rgba(255, 255, 255, 0.8);
    }

    input:disabled ~ label {
      opacity: 0.3;
    }

    input:checked + label::after {
      content: "";
      position: absolute;
      left: 22px;
      top: 14px;

      width: 8px;
      height: 5px;

      background-image: url("../img/icon-tick.svg");
      background-repeat: no-repeat;

      cursor: pointer;


      @media (max-width: $tablet-width) {
        left: 5px;
        top: 6px;
      }
    }

    input {
      left: 315px;
      top: 15px;

      @media (max-width: $desktop-width) {
        left: 325px;
      }

      @media (max-width: $tablet-width) {
        left: 10px;
        top: 85px;
      }
    }

    label {
      position: relative;
      width: 50%;
      margin-left: 20px;
      padding: 10px 0 0 50px;

      font-family: "PT Mono", "Consolas", monospace;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $text-light;
      opacity: 0.8;
      box-sizing: border-box;
      cursor: pointer;

      @media (max-width: $desktop-width) {
        padding: 8px 0 0 55px;
      }

      @media (max-width: $tablet-width) {
        width: 100%;
        margin-left: 0;
        padding: 0 0 0 34px;
      }
    }

    @media (max-width: $tablet-width) {
      flex-direction: column;
    }
  }

  &__send {
    width: 270px;

    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover,
    &:focus {
      color: $cyan;
      background-color: #ffffff;
    }

    @media (max-width: $desktop-width) {
      width: 280px;
    }

    @media (max-width: $tablet-width) {
      width: 100%;
      margin-bottom: 32px;
    }
  }
}
