.logo {
  display: flex;
  min-width: 204px;

  img {
    margin-right: 16px;
  }

  &__extra {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 6px 0 0;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;

    &--footer {
      color: #203c42;
    }
  }

  &__desc {
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #788891;
  }
}
