.logo {
  display: flex;
  min-width: 204px;

  @media (max-width: $tablet-width) {
    min-width: auto;
  }

  img {
    margin-right: 16px;

    @media (max-width: $tablet-width) {
      width: 38px;
      height: 38px;
    }
  }

  &--footer img {
    @media (max-width: $tablet-width) {
      width: 52px;
      height: 52px;
    }
  }

  &__extra {
    display: flex;
    flex-direction: column;

    @media (max-width: $tablet-width) {
      display: none;

      &--footer {
        display: flex;
      }
    }
  }

  &__title {
    margin: 6px 0 0;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;

    &--footer {
      color: #203c42;
    }
  }

  &__desc {
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #788891;
  }
}
